<mat-toolbar>
    <span>Editar Sala</span>
</mat-toolbar>

<div class="d-flex justify-content-center">
    <div class="col-lg-4">
        <form [formGroup]="formGroup" (ngSubmit)="submitForm()" novalidate>

            <!-- Name -->
            <mat-form-field class="vertical-space">
                <input matInput placeholder="Nome" formControlName="name">
                <!-- error -->
                <mat-error *ngIf="errorHandling('name', 'required')">
                    {{ requiredAlert }}
                </mat-error>
                <mat-error *ngIf="errorHandling('name', 'nameTaken')">
                    O nome já está em uso.
                </mat-error>
            </mat-form-field>

            <!-- Linhas de assentos -->
            <mat-form-field class="vertical-space">
                <input matInput placeholder="Quantidade de linhas de assentos" formControlName="rows" type="number">
                <!-- error -->
                <mat-error *ngIf="errorHandling('rows', 'required')">
                    {{ requiredAlert }}
                </mat-error>
                <mat-error *ngIf="errorHandling('rows', 'min') || errorHandling('rows', 'max')">
                    A quantidade de linhas deve estar entre 5 e 10
                </mat-error>
            </mat-form-field>

            <!-- Colunas de assentos -->
            <mat-form-field class="vertical-space">
                <input matInput placeholder="Quantidade de colunas de assentos" formControlName="columns" type="number">
                <!-- error -->
                <mat-error *ngIf="errorHandling('columns', 'required')">
                    {{ requiredAlert }}
                </mat-error>
                <mat-error *ngIf="errorHandling('columns', 'min') || errorHandling('columns', 'max')">
                    A quantidade de colunas deve estar entre 4 e 10
                </mat-error>
            </mat-form-field>

            <!-- Error -->
            <div *ngIf="error" class="row vertical-space">
                <div class="col-lg-12">
                    <span class="warn-message">{{ error }}</span>
                </div>
            </div>

            <!-- Submit -->
            <div class="button-wrapper d-flex justify-content-center">
                <button mat-raised-button type="button" (click)="cancel()">Cancelar</button>
                <div style="width: 1%;"></div>
                <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">Salvar</button>
            </div>

        </form>
    </div>
</div>