<mat-toolbar>
    <span>Gerenciar Conta</span>
</mat-toolbar>

<div class="d-flex justify-content-center" style="padding: 15%;">
    <div class="col-lg-4">
        <span>Usuário logado: {{ email }}</span>

            <div class="row vertical-space">
                <div class="col-lg-12">
                    <button mat-raised-button style="width: 100%;" (click)="logout()">
                        <i class="material-icons">power_settings_new</i>
                        logout
                    </button>
                </div>
            </div>
    </div>
</div>