<mat-drawer-container fullscreen disableClose="true" opened="true">

    <app-navbar *ngIf="isCustomer()"></app-navbar>

    <mat-drawer #drawer mode="side" disableClose="true" opened="true" *ngIf="isAdmin() || isEmployee()">

        <button mat-mini-fab (click)="isExpanded = !isExpanded" color="primary" style="margin: 10px;">
            <mat-icon aria-label="Menu">menu</mat-icon>
        </button>

        <mat-nav-list>

            <!-- User -->
            <mat-list-item routerLink="/conta">
                <mat-icon mat-list-icon>account_circle</mat-icon>
                <h6 mat-button *ngIf="isExpanded">Conta</h6>
            </mat-list-item>

            <div *ngIf="isEmployee()">
                <mat-list-item routerLink="/bilhetes">
                    <mat-icon mat-list-icon>search</mat-icon>
                    <h6 mat-button *ngIf="isExpanded">Pesquisar Bilhete</h6>
                </mat-list-item>
            </div>

            <div *ngIf="isAdmin()">
                <!-- usuários -->
                <mat-list-item routerLink="/usuarios">
                    <mat-icon mat-list-icon>person</mat-icon>
                    <h6 mat-button *ngIf="isExpanded">Usuários</h6>
                </mat-list-item>

                <!-- salas -->
                <mat-list-item routerLink="/salas">
                    <mat-icon mat-list-icon>meeting_room</mat-icon>
                    <h6 mat-button *ngIf="isExpanded">Salas</h6>
                </mat-list-item>

                <!-- filmes -->
                <mat-list-item routerLink="/filmes">
                    <mat-icon mat-list-icon>local_movies</mat-icon>
                    <h6 mat-button *ngIf="isExpanded">Filmes</h6>
                </mat-list-item>

                <!-- snacks -->
                <mat-list-item routerLink="/snacks">
                    <mat-icon mat-list-icon>fastfood</mat-icon>
                    <h6 mat-button *ngIf="isExpanded">Snacks</h6>
                </mat-list-item>

                <!-- sessões -->
                <mat-list-item routerLink="/sessoes">
                    <mat-icon mat-list-icon>play_circle_outline</mat-icon>
                    <h6 mat-button *ngIf="isExpanded">Sessões</h6>
                </mat-list-item>

                <!-- relatório de filmes -->
                <mat-list-item routerLink="/relatorio-filmes">
                    <mat-icon mat-list-icon>insert_chart</mat-icon>
                    <h6 mat-button *ngIf="isExpanded">Relatório de Filmes</h6>
                </mat-list-item>
            </div>

        </mat-nav-list>

    </mat-drawer>

    <router-outlet></router-outlet>

</mat-drawer-container>