<mat-toolbar>
    <mat-toolbar-row>
        <span class="navbar-brand">Cinema!</span>

        <span class="menu-spacer"></span>
        <div  class="mr-auto">
            <a mat-button routerLink="/em-cartaz"><span>Em Cartaz</span></a>
            <a mat-button routerLink="/historico"><span>Histórico</span></a>
        </div>


        <a class="nav-item nav-link"><i class="fa fa-shopping-cart fa-lg"></i></a>
        <a class="nav-item nav-link"><i class="fa fa-bell fa-lg"></i></a>
        <a class="nav-item nav-link"><img class="rounded-circle" src="./../../../assets/images/logged.jpg" height="40"
                width="40" alt="image"></a>
    </mat-toolbar-row>
</mat-toolbar>